@import "../../styles/colors";
@import "../../styles/variables";
@import "../../styles/default";

$font-size-wrong-screen: 100px;

.wrong-screen {
    @extend .flex-column-center;
    @extend .text-align-center;

    height: 100vh;
    width: $breakpoint;
    
    color: $color-success;
	font-size: $font-size-wrong-screen;
    text-shadow: 0px 0px $font-size-wrong-screen $color-success;
}