@import '../../styles/default';
@import '../../styles/colors';
@import '../../styles/variables';

.navbarWrapper {
    @extend .container-fluid;
    @extend .flex-column-center;
}

.navbar {
    @extend .text-align-center;
    @extend .flex-row-center;

    height: 20px;
    color: $color-success;
}

.navbarElement {
    @extend .cursor-pointer;

    font-size: $font-size-medium;
    width: 80px;
}

.navbarUserInfo {
    @extend .container-fluid;
    @extend .flex-row-center;

    height: 60px;
    color: $color-dark;
    font-size: $font-size-extra-large;
    background-color: $color-light;
}

.navbarUserInfoElement {
    @extend .text-align-center;

    width: 120px;
}