@import "~normalize.css";
@import "./variables";
@import "./colors";
@import "./default";

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
html {
	overflow-y: scroll;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'VT323', monospace;
	
  	display: flex;
  	justify-content: center;
	align-items: center;

	background-color: $color-dark;
	color: $color-primary;

	user-select: none;
	
	a {
		text-decoration: none;
		color: inherit;
	}
}

.containerInner {
	@extend .container-inner;
}